/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 376px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
$white: #fff;
$black: #000;
$cafenoir: #4C2A1B;
$camel: #BFA16D;
$palesilver: #D3CAC3;
$palesilverdark: #AB9D98;
$alabaster: #ECE7E5;
$timberwolf: #D8D8D8;
$kobicha: #6F3F29;