/* =============
    Coffeeware
============= */
#coffeeware{
    h1{
        color: $kobicha;
    }
     .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 67;
        max-width: 1225px;
        grid-template-areas: "n1 n2";
        }
     p{
        text-align: justify;
        text-justify: inter-word;
        color: $kobicha;
        }
        .grid{
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-gap: 76px;
         max-width: 1400px;
         grid-template-areas: "f1 f2 f3 f4";
         background-color: $alabaster;
         }
        p{
         text-align: center;
         text-align: justify;
         color: $kobicha;
        }
    }

