/* =============
    Coffees
============= */
#coffee{
    h1{
        color: $black;
        }
    p{
        color: $kobicha;
        text-align: justify;
        text-justify: inter-word;
    }
            @include xl{
                grid-template-columns: auto 1200px auto;
            }
            >div{
                grid-area: intro;

                @include sm{
                    display: grid;
                    justify-content: center;
                    text-align: center;
                    gap: 16px;
                    margin:auto;
                }
        
                @include md{
                    display: grid;
                    justify-content: center;
                    text-align: center;
                    gap: 16px;
                    margin:auto;
                }
        
                @include lg{
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas: "n1 n2 n3";
                    margin:auto;
                }
                @include xl{
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas: "n1 n2 n3";
                    margin:auto;
                }
            }

    p{
        text-align: center;
        text-align: justify;
        color: $kobicha;
    }
}
   
