/* =============
    Coffee 101
============= */
#coffee101{
    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: " . n1 n1 ." "n2 n2 n3 n3" "n4 n4 n5 n5";
        max-width: 885px ;
        }
    }