/* =============
    Coffee 101
============= */
#coffee101{
    h1{
        color: $kobicha;
    }
    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". coffee101 .";
    }

    @include lg{
        grid-template-columns: auto 1024px auto;
    }
   
    >div{

        @include md{
            grid-area: coffee101;
        }

        h1{
            color: $kobicha;
        }

        ul{

            @include md{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: "n2 n2"
                "n1 n1"
                "n2 n3"
                "n4 n5";
                gap: 16px;
            }

            @include lg{
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: "n1 n2"
                "n3 n4"
                "n5 n6";
            }
    
            li{
    
                img{
                    width: 100%;
                }
    
                section{
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". coffee101 .";
                    >div{
                        grid-area: coffee101;
                    }
                }
            }
        }
        n2{
            p{
             color: $kobicha;
            }
        }
        n3{
            align-content: center;
            caption{
                h2{
                    color: $camel;
                }
            }
        }
        n4{
            align-content: center;
            caption{
                h2{
                    color: $camel;
                }
            }
        }
        n5{
            align-content: center;
            caption{
                h2{
                    color: $camel;
                }
            }
        }
        n6{
            align-content: center;
            caption{
                h2{
                    color: $camel;
                }
            }
        }
    }
}