/* =============
    Coffee Products
============= */

#coffee-products{
    p{
        text-align: center;
        color: $kobicha;
    }
    background-color: $alabaster;
    
    @include xl{
        grid-template-columns: auto 1200px auto;
    }
    >div{
        grid-area: coffee-products;

        @include sm{
            display: grid;
            justify-content: center;
            text-align: center;
            gap: 16px;
            display: block;
            margin-left: 20px;
        }

        @include md{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "f1 f2" 
            "f3 f4";
            margin:auto;
        }

        @include lg{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: "f1 f2 f3 f4";
            margin:auto;
        }
        @include xl{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: "f1 f2 f3 f4";
            margin:auto;
        }
    }
}