/* =============
    Coffees
============= */
#coffees{

    h1{
        color: $kobicha;
        text-align: center;
        margin: 16px; 
        }
    p{
        color: $kobicha;
        text-align: justify;
        text-justify: inter-word;
        margin: 16px;
    }
            @include xl{
                grid-template-columns: auto 1200px auto;
            }
            >div{
                grid-area: intro;

                @include sm{
                    display: grid;
                    align-content: center;
                    text-align: center;
                    gap: 16px;
                    // float: center;
                    display: block;
                    margin: 0 auto;
                    // margin-left: 16px;
                    // #n1{
                    //     margin-left: 16px;
                    // }
                }
        
                @include md{
                    display: grid;
                    justify-content: center;
                    text-align: center;
                    gap: 16px;
                    margin:16px;
                }
        
                @include lg{
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas: "n1 n2 n3"
                    ". . n4";
                    margin:auto;
                }
                @include xl{
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas: "n1 n2 n3"
                    ". . n4";
                    margin:auto;
                    background-color: $white !important;
                }
            }
        }


   
