#email{
    background-color: $alabaster;
        .grid {
           display: grid;
           grid-template-columns:(1,1);
           grid-template-areas: ". email .";
           }
           h4{
                font-family: 'Raleway', sans-serif !important;
                color: $kobicha;
           }
}
