#email{
    background-color: $alabaster;

           h4{
                font-family: 'Raleway', sans-serif !important;
                color: $kobicha;
           }
    @include xl{
        .grid {
            display: grid;
            grid: flex;
            align-content: flex-end;
            gap: 40px;
            margin:16px;
         }
    }
    @include lg{
        .grid {
            display: grid;
            grid: flex;
            align-content: flex-end;
            gap: 30px;
            margin:16px;
        }
    }
    @include md{
        .grid {
            display: grid;
            grid: flex;
            align-content: flex-end;
            gap: 15px;
            margin:16px;
        }
    }
    @include sm{
        .grid{
            display: grid;
            grid: flex;
            align-content: flex-end;
            gap: 16px;
            margin:16px;
        }
    }
           
}
