/* =============
    Trending
============= */
#trending{
    h1{
        color: $kobicha;
        text-align: center;
        margin: 15px;
        
    }

    p{
        color: $kobicha;
    }

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". trend ."
    ". trending .";
    margin: 15px;

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    .span-col-3{grid-column: span 3 / auto;}
    
    >div{
        grid-area: trending;
        background-color: $alabaster;

        #trend{
            background-color: $white;
        }

        @include sm{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas: "trend"
                "n1"
                "n2"
                "n3";
                gap: 30px;
                display: block;
                margin: 0 auto;
        }

        @include md{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: ". trend ."
            "n1 n2 n3";
            gap: 30px;
            margin: auto;
        }

        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: ". trend ."
            "n1 n2 n3";
            margin: auto;
        }

    }

}
