/* =============
    Trending
============= */
#trending{
    h1{
        color: $kobicha;
        text-align: justify;
        text-justify: inter-word;
    }

    p{
        color: $kobicha;
        text-align: justify;
        text-justify: inter-word;
    }
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". trending .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }
    >div{
        grid-area: trending;

        @include md{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "n1 n2 n3";
            gap: 16px;
        }

        @include lg{
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "n1 n2 n3";
        }
    }
}