/* =============
    Coffeeware
============= */
coffeeware{
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 76px;
        max-width: 1400px;
        grid-template-areas: "f1 f2 f3 f4";
        }
}