/* =============
    Coffee 101
============= */
#coffee101{

    .grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: "n1";
            max-width: 885px ;
        }
    .grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: "n2 n3";
            grid-gap: 57px;
        }
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "n4 n5 n6";
        grid-gap: 67px;
    }
}