/* =============
    Coffees
============= */
#coffee{
    
     .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 76px;
        max-width: 1259px;
        grid-template-areas: "n1 n2 n3";
        }
    

        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 40px;
            max-width: 1400px;
            grid-template-areas: "c1 c2 c3 c4";
            }
     }
