/* =============
    Coffee Club
============= */
#coffeeclub{
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 142.74px;
        max-width: 1282.73px;
        grid-template-areas: "n1 n2 n3";
    }
}