/* =============
    Hero
============= */
#hero{
    img{
        width: 100%;   
            @include xl{
                display: grid;
                grid-template-areas: "herospot";
                ul{
                    @include lg{
                        grid-area: "herospot";
                        display: grid;
                        grid-template-columns: 71% auto;
                    @include md{
                        grid-area: "herospot";
                        display: grid;
                        grid-template-columns: 50% auto;
                    }
                    @include sm{
                        grid-area: "herospot";
                        display: grid;
                        grid-template-columns: 40% auto;
                    }
                }
            }
         }
    }
}