/* =============
    Hero
============= */
#hero{
    img{
        width: 100%;
            @include xl{
                display: grid;
                grid-template-areas: "hero-image";
            }
                @include lg{
                    grid-template-columns: 71% auto;
                }
                    @include md{
                        grid-area: hero-image;
                        display: grid;
                        grid-template-columns: 53% auto;
                    }
                @include sm{
                    grid-template-columns: 22% auto;
                }
            }
            p{
                align-content: center;
            }
        }     