/* =============
    Hero
============= */
#hero{
    img{
        width: 100%;
    }
    section{
        @include md{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero .";
            ul{
                @include md{
                    grid-area: heroimage;
                    display: grid;
                    grid-template-columns: 40% auto;
                }

                @include lg{
                    grid-template-columns: 50% auto;
                }

            }
        }
    }
}