/* =============
    Footer
============= */
#footer{
    background-color: palesilverdark;
    .grid {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-gap: 61px;
       max-width: 804px;
       grid-template-areas: "n1 n1" "n2 n2";
       }
    }