/* =============
    Header
============= */
#header{
    #navigation {
        display: grid;
        grid-template-columns: 16px auto 60%;
        grid-template-areas: ". burger ."
            ". nav .";

            @include md{
                grid-template-columns: 100%;
                grid-template-areas: "nav";
            }

        #burger_container {
            grid-area: burger;
            font-size: rem-calc(60);
            color: $alabaster;
            margin-bottom: 10px;
            

            @include md {
                display: none !important;
            }
        }

        #nav_container {
            grid-area: nav;
            display: none;
            margin-top: 60px;
            padding: 20px;
            margin-bottom: 10px;
            

            ul {
                height: 100%;
                li {

                    padding: 9px 0px;
                    a:link,
                    a:visited {
                        color: $alabaster;
                        padding: 0px 0px;
                        text-decoration: none;
                        transition: 0.25s;
                        font-family: 'Raleway', sans-serif;
        
                        @include lg {
                            color: $alabaster;
                        }
        
                        &:hover,
                        &:active {
                            color: $kobicha;
                        }
                    }
                }
            }

            @include md {
                display: block !important;
                color: $alabaster;
                padding: 20px;
                font-family: 'Raleway', sans-serif;
                
                >ul {
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }
    }
     h1{
        color: $alabaster;
        margin: 30px; 
     }
    
     display: grid;
     background-color: $palesilverdark;
    grid-template-columns: 16px auto 16px;
     grid-template-areas: ". header .";
     >div{
        grid-area: header;
     }
}