/* =============
    Header
============= */
header{
    h1{
       color: $alabaster; 
    }
    background-color: $palesilverdark;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    >div{
        grid-area: header;
    }
}