/* =============
    Buttons
============= */
button{
    background-color: $camel;
    color: $timberwolf;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    max-height: 118px;
    max-width: 235px;
    border-radius: 10px;
}
